---
import Chat from '../components/Chat.astro';
import Stream from '../components/Stream.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Open Chat | Live">
	<main>
        <Stream/>
        <Chat/>
	</main>
</Layout>

<style>
    main {
        flex: 1;
        display: flex;
    }
</style>
