---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Open Chat | Login">
	<main>
        <a href="http://localhost:8000/oauth/twitch">Twitch</a>
	</main>
</Layout>

<style>
    main {
        flex: 1;
        display: flex;
    }
</style>
